$primary: #515151;
$radius: 0;
@mixin rounded($radius: 0) {
  @include border-radius($radius);
}

@mixin button($height: 40) {
  text-align: center;
  display: block;
  border: $border;
  background-color: #494949;
  padding: 0 10px;
  line-height: $height + px;
  text-decoration: none;
  color: #aeaeae;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

$border: 1px solid #6a6a6a;

html {
  height: 100%;
  body {
    margin: 0;
    font: 12px/14px helvetica;
    text-align: center;
    color: #ffffff;
    background-color: #131313 !important;
  }
}

a {
  color: #d2e0ff
}

.loading_shroud {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .4;
  background: #3b3b3b url('/.core/images/loading.gif') center no-repeat;
  text-indent: -99999px;
  top: 0;
  left: 0;
}

.paginate_wrapper {
  margin-bottom: 20px;
  @extend %cf;
  ul#pagi {
    height: 30px;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
      background-color: #777;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      @include rounded(30);
      cursor: pointer;
      &:hover, &.sel {
        background-color: #3a3a3a;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  select {
    height: 30px;
    float: left;
  }
}

#filter_form_wrapper {
  @include form(200, 30);
  margin-bottom: 10px;
  @extend %cf;
  background-color: #5d5d5d;
  border: $border;
  padding: 10px;
  form {
    fieldset {
      ul {
        li {
          float: left;
          text-align: left;
          margin-right: 10px;
          label {
            span {
              display: block;
              margin-bottom: 5px;
            }
          }
          &.form_submit {
            margin-top: 18px;
          }
        }
      }
    }
  }
  #clear_filters {
    margin-top: 10px;
    @include button(30);
    float: left;
  }
}

form {
  .mlink_selected_wrapper {
    li {
      margin-left: 214px;
      background: #e9e9e9;
      width: 200px !important;
      color: #313131;
      a {
        float: right;
        margin-left: 20px;
        color: #e90e00;
      }
    }
  }
}

body.login {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  #content {
    display: table-cell;
    vertical-align: middle;
    border: none;
    h2 {
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }
    div.form_wrapper {
      @include form(400);
      margin: 0 auto;
      background-color: #5b5b5b;
      padding: 20px;
      &#cms_login_wrapper {
        width: 400px;
        label {
          span {
            display: none;
          }
          input {
            text-align: center;
            font-size: 16px;
          }
        }
      }
      &#cms_builder_wrapper {
        width: 900px;
        @include cf();
        fieldset {
          float: left;
          width: 400px;
          margin: 0 20px;
          ul {
            li {
              &.field_checkboxes_wrapper {
                label {
                  span {
                    display: block;
                    font-size: 14px;
                    padding-bottom: 5px;
                    width: 100%;
                  }
                  div {
                    padding-bottom: 10px;
                    @include cf();
                    label {
                      font-size: 10px;
                      float: left;
                      width: 33%;
                      margin-bottom: 5px;
                      input {
                        width: 20px;
                        float: left;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body.dashboard {
  #summaries {
    padding-top: 20px;
    @extend %cf;
    background-color: #252525;
    h4 {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 33px;
    }
    div {
      padding: 0 20px;
      margin-bottom: 33px;
      @include rounded();
      @include box-sizing();
      width: 50%;
      float: left;
      table {
        thead {
          th {
            padding: 10px;
          }
        }
      }
    }
  }
  #latest_flights {
  }
}

table.module {
  border-collapse: collapse;
  width: 100%;
  border: $border;
  @include rounded();
  background-color: #2e2e2e;
  @include box-sizing();
  thead {
    background-color: #d7d7d7;
    font-size: 16px;
    th {
      padding: 20px 10px;
      color: #444444;
    }
  }
  tr {
    &:nth-child(2n) {
      background-color: #464646;
    }
    td {
      padding: 10px;
    }
  }
}

label span {
  display: inline-block;
  width: 100px
}

div#admin_box > div {
  margin: 10px;
  padding: 10px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
}

ul#nav {
  @extend %cf;
  margin-left: 0px;
  background-color: #515151;
  border-bottom: $border;
  > li {
    float: left;
    margin-right: -1px;
    padding: 5px 10px;
    border: $border;
    border-bottom: 0;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    &:first-of-type {
      border-left: 0;
    }
    ul {
      text-align: left;
      width: 200px;
      position: absolute;
      display: none;
      border: $border;
      background-color: #333333;
      left: -1px;
      top: 34px;
      @include border-radius(0, $radius, $radius, 0);
      li {
        padding: 0 10px;
        color: #ffffff;
        &:hover {
          background-color: #515151;
        }
        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 30px;
          display: block;
        }
      }
    }
    &.right {
      background-color: #535353;
      float: right;
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}

#content {
  @extend %cf;
  padding: 20px;
}

table.module_list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  thead {
    th {
      color: #f5f5f5;
      padding: 5px;
      border: $border;
      background-color: #5c5c5c;
      &.primary {
        width: 20px;
        text-align: center;
      }
      &.edit, &.delete {
        width: 16px;
      }
      &.field_date {
        width: 65px;
      }
    }
  }
  tr {
    &.child {
      background-color: #373737;
      .form\\field_string:first-of-type {
        text-indent: 10px;
      }
    }
    &.deleted {
      td {
        text-decoration:line-through;
      }
    }
    td {
      padding: 4px;
      border: $border;
      text-align: left;
      &.field_button, &.field_file {
        vertical-align: middle;
        .button {
          cursor: pointer;
          margin-bottom: 0;
        }
      }
      &.field_int {
        text-align: center;
      }
      a.edit {
        background: url('/.core/images/sprites.png') -275px -60px;
        display: block;
        width: 19px;
        height: 19px;
        text-indent: -9999px;
      }
      a.live {
        background: url('/.core/images/sprites.png') -305px -375px;
        display: block;
        width: 19px;
        margin: auto;
        height: 19px;
        text-indent: -9999px;
        &.not_live {
          background-position: -275px -375px;
        }
      }
      a.delete {
        background: url('/.core/images/sprites.png') -47px -89px;
        display: block;
        width: 16px;
        height: 17px;
        text-indent: -9999px;
      }
    }
  }
}

.cke {
  span {
    display: block !important;
    width: auto !important;
    &.cke_button_icon, &.cke_combo_open {
      display: inline-block !important;
    }
    &.cke_voice_label, &.cke_button_label {
      display: none !important;
    }
    &.cke_button_icon {
      width: 16px !important;
    }
  }
  a {
    &.cke_combo_button {
      display: inline-block !important;
    }
  }
}

#cms_edit_wrapper {
  @include form(777, 30);
  fieldset {
    padding: 20px;
    background-color: #3a3a3a;
    margin: auto;
    width: 980px;
    ul {
      &.hidden {
        li {
          padding: 0;
          border: none;
        }
      }
      li {
        width: 100%;
        padding: 5px 0;
        label {
          @extend %cf;
          span {
            font-size: 16px;
            display: inline-block;
            width: 200px;
            .field_name {
              float: right;
              font-size: 10px;
            }
          }
        }
        textarea {
          height: 200px;
        }
        .cke {
          display: inline-block;
          width: 765px;
          vertical-align: top;
        }
        .file_holder {
          span, p {
            display: none;
          }
        }
      }
    }
  }
}

.error_message {
  border: 1px solid #9f000b;
  color: #9f000b;
  background-color: #fffd00;
  margin: 10px 0;
  p {
    font-weight: bold;
    font-size: 18px;
  }
  table {
    width: 100%;
    border: 1px solid #600000;
    border-collapse: collapse;
    th {
      background-color: #d8db00;
    }
  }
}

p.success {
  background-color: #069405;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #51ec0f;
  @include rounded(10px);
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

p.warning {
  background-color: #ff8000;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #ec5900;
  @include rounded(10px);
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

table#module_def {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      background-color: #474747;
      border: $border;
      padding: 5px;
    }
  }
  tr {
    td {
      border: $border;
      padding: 1px;
    }
  }

}

a.reorder {
  display: block;
  width: 9px;
  height: 8px;
  text-indent: -9999px;
  margin: auto;
  cursor: pointer;
  &.up {
    background: url(/.core/images/sprites.png) -72px -89px;
    &:hover {
      background-position: -83px -89px;
    }
  }
  &.down {
    background: url(/.core/images/sprites.png) -72px -98px;
    &:hover {
      background-position: -83px -98px;
    }
  }
}

#cboxOverlay {
  background-color: #919191;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

#cboxLoadedContent {
  @include rounded();
  background-color: #1f1f1f;
  border: 5px solid #f4f4f4;
  padding: 20px;
}

#cboxClose {
  display: none !important;
}

.sub_module {
  .button {
    //@include button ();
  }
}